<!DOCTYPE html>
<html lang="en">

<head>

  <title> Smart Leading </title>
  <link rel="shortcut icon" href="assets/img/SL.ico" type="image/x-icon">

  {{>headerLinks}}

</head>

<body>

  {{>header}}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h3>A digital agency for brands that want more.</h3><br>
            <div>
            <h2>Remote Digital Teams <br>for
              <span class="txt-type" data-wait="1000" data-words='[ "Web UI/UX Development", "Ecommerce", "Strategic Consulting", "Cloud Services", "Mobile Development", "Quality Assurance", "Continuation Engineering" ]'></span>
            </h2>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/header-image-blue.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services 1 Section ======= -->
    <section id="services_1" class="services_1 section-bg">
      <div class="container" data-aos="fade-up">

        <header class="service-header">
          <h2>Ready to Get Started</h2>
          <div>
          <p>
            SmartLeading Solutions is an experienced software development services provider
          <br>
            that handles complex, non-standard e-commerce so you can sell
          <br>
            more across markets, with least cost, risk, and pain.
          </p>
        </div>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="fas fa-file-code" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Web Development</a></h4>
              <p class="description">Delivering fast, advanced and customized web apps; perfectly suited for your business needs. Highly enthusiastic in working with the latest and emerging technologies recently impacting around the globe..</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="fas fa-mobile-alt" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Mobile App Development</a></h4>
              <p class="description">Next generation devices are now the part of everyone's life and it is very important to keep updated with this fast growing world. We are delivering mobile apps with all types of fast custom components aligned with your business requirements.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="far fa-object-group" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Creative Graphic Designing</a></h4>
              <p class="description">We believe design is the only thing of a common man's interests. Design is not just what it looks like and feels like. Design is how it works. It's more about quality stuff.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="fas fa-trophy" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Search Engine Optimization</a></h4>
              <p class="description">Rank your website with the keywords mostly searched by the public and millions of buyers online. You can not only excel in reputation but also get leads eventually converting into profits.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
            <div class="icon" style="background: #e1eeff;"><i class="fas fa-business-time" style="color: #2282ff;"></i></div>
            <h4 class="title"><a href="">Business Analysis</a></h4>
            <p class="description">Requirement Analysis is the unit while Business Analysis is what can turn over your company with the maximum profits against your resources. Decisions over real data with the history can enable your to make right decision on the right time.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #ecebff;"><i class="fas fa-ad" style="color: #8660fe;"></i></div>
            <h4 class="title"><a href="">Digital Media Marketing and Automation</a></h4>
            <p class="description">With the growing audience online and globalisation, there is an immense market that is still untapped. With a little marketing budget you can get the amazing results. Social media ads, posts, bots and email marketing are the leading ways for marketing automation.</p>
          </div>
        </div>

      </div>

      </div>
    </section> <!-- End Service 1 Section -->

    <!-- ======= Services 2 Section ======= -->
    <section id="services_2" class="services_2">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="services_2-content" data-aos="fade-left" data-aos-delay="100">
              <h3>We take care of all the <br> technology so you can focus <br> on what you do best</h3>

              <p>Our team of experienced software engineers, developers,<br> UX architects, and designers like to produce impactful <br> software. </p>
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
              <div class="services">
                <div class="column1">
                  <div class="card1">
                    <div class="icon1">
                        <i class="fas fa-chalkboard fa-2x fa-color"></i> <span class="heading1"> Web UI/UX</span> <br> <span class="sub-heading1"> Development </span>
                    </div>
                      <p> Our web development team creates intuitive user experiences wrapped up in beautiful designs. Everything we create is custom and precisely made to your specification.  </p>
                  </div>
                </div>

                <div class="column2">
                  <div class="card2">
                    <div class="icon2">
                        <i class="fas fa-shopping-cart fa-2x fa-color"></i> <span class="heading2"> Ecommerce </span><br>
                        <span class="sub-heading2"> Development </span>
                    </div>
                      <p> Our web development team creates intuitive user experiences wrapped up in beautiful designs. Everything we create is custom and precisely made to your specification.   </p>
                  </div>
                </div>
              </div>

              <div class="services">
                <div class="column3">
                  <div class="card3">
                    <div class="icon3">
                        <i class="fas fa-user-friends fa-2x fa-color"></i> <span class="heading3"> Strategic </span><br>
                        <span class="sub-heading3"> Consulting </span>
                    </div>
                      <p> Our web development team creates intuitive user experiences wrapped up in beautiful designs. Everything we create is custom and precisely made to your specification.  </p>
                  </div>
                </div>

                <div class="column4">
                  <div class="card4">
                    <div class="icon4">
                        <i class="fas fa-database fa-2x fa-color"></i> <span class="heading4"> Data </span><br>
                        <span class="sub-heading4"> Analytics </span>
                    </div>
                      <p> Our web development team creates intuitive user experiences wrapped up in beautiful designs. Everything we create is custom and precisely made to your specification.   </p>
                  </div>
                </div>
              </div>

          </div>
        </div>

        </div>
      </div>

    </section><!-- End services_2 Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-7 col-md-6">
            <div class="why-us-img" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/Why.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6">
            <div class="why-us-content" data-aos="fade-left" data-aos-delay="100">
              <h2>Why Us</h2>
              <p>Our team of experienced software engineers, developers, UX architects, and designers like to produce impactful software. </p>
            </div>

            <div class="row counters" data-aos="fade-up" data-aos-delay="100">

              <div class="col-lg-7 col-md-6 why-us-counter">
                  <span> <span data-toggle="counter-up">300</span>+</span>
                  <h4 class="counter-heading"> Projects Delivered </h4>
              </div>
            </div>

            <div class="row counters" data-aos="fade-up" data-aos-delay="100">

              <div class="col-lg-7 col-md-6 why-us-counter">
                  <span> <span data-toggle="counter-up">20</span>+</span>
                  <h4 class="counter-heading"> In House Professionals </h4>
              </div>
            </div>

            <div class="row counters" data-aos="fade-up" data-aos-delay="100">

              <div class="col-lg-7 col-md-6 why-us-counter">
                  <span> <span data-toggle="counter-up">6</span>+</span>
                  <h4 class="counter-heading"> Years of Experience </h4>
              </div>
            </div>

          </div>

        </div>
      </div>

    </section><!-- End why-us Section -->

    <!-- ======= Technologies Section ======= -->
    <section id="technologies" class="technologies section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 col-md-6">
            <h3> From strategy to deployment and beyond… </h3>
            <span>Once you conceive an idea, the next step is to find the best technology partner to bring your idea to life. Our team of developers, software architects, project managers and other technicians is equipped with advanced and up-to-date skill sets to cater to specific needs of your project. We are a full-scale software development firm that knows the value of lasting relationships and can combine focused detail-oriented action with long-term strategic thinking.</span>
          </div>

          <div class="col-lg-5 col-md-6">
            <div class="technologies-img" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/Technologies.png" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Technologies Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Great software needs great relationships</h3>
          <p>Beyond our skilled expertise, it is our partners and our relationship with them that sets us apart.</p>
          <br>
          <br>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="assets/img/clients/smart-technology.jpg" alt="">
          <img src="assets/img/clients/blinds.png" alt="">
          <img src="assets/img/clients/rug-gallery.jpg" alt="">
          <img src="assets/img/clients/columbus-caminet.jpg" alt="">
          <img src="assets/img/clients/blessy.jpg" alt="">
          <img src="assets/img/clients/avrs.png" alt="">
          <img src="assets/img/clients/westpark.jpg" alt="">
          <img src="assets/img/clients/stonex.jpg" alt="">
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg wow fadeInUp">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Our Pricing Plans</h3>
          <br>
        </header>

        <div class="row flex-items-xs-middle flex-items-xs-center">

          <!-- Custom Website  -->
          <div class="col-xs-12 col-lg-3 wrapper1" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>25<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Custom Website
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">✔ Domain</li>
                  <li class="list-group-item">✔ Hosting</li>
                  <li class="list-group-item">✔ Framework</li>
                  <li class="list-group-item">✔ Contact Form</li>
                  <li class="list-group-item">✔ Google Maps</li>
                  <li class="list-group-item">✔ Cart System</li>
                  <li class="list-group-item">✔ Online Payments</li>
                  <li class="list-group-item">✔ 50 Products</li>
                  <li class="list-group-item">✔ Content Display</li>
                  <li class="list-group-item">✔ Admin Panel</li>
                  <li class="list-group-item">✔ Products Filters</li>
                  <li class="list-group-item">✔ Profile Page</li>
                  <li class="list-group-item">✔ Slider Design (3 slider)</li>
                  <li class="list-group-item">✔ Post Design (3 post)</li>
                  <li class="list-group-item">✔ Social Media Link</li>
                  <li class="list-group-item">✔ Maintenance</li>
                  <li class="list-group-item">✔ APPLICATION</li>
                </ul>
                <div class="toggle_btn1">
                  <span class="toggle_text1">Show More</span> <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
                <form action="/plan1" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{stripePublishableKey}}
                    data-amount="2500"
                    data-name="Custom Website"
                    data-description="By Smart Leading"
                    data-image="assets/img/Stripe.png"
                    data-locale="auto">
                  </script>
                  <script>
                    var all_buttons = document.getElementsByClassName("stripe-button-el");
                      for (var i = 0; i < all_buttons.length; i++) {
                          all_buttons[i].style.display = "none";
                      }
                  </script>
                  <br>
                  <button type="submit" class="btn">Purchase For $25</button>
                </form>
              </div>
            </div>
          </div>

          <!-- Basic Website  -->
          <div class="col-xs-12 col-lg-3 wrapper2" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>45<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Basic Website
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">✔ Domain</li>
                  <li class="list-group-item">✔ Hosting</li>
                  <li class="list-group-item">✔ Framework</li>
                  <li class="list-group-item">✔ Contact Form</li>
                  <li class="list-group-item">✔ Google Maps</li>
                  <li class="list-group-item">❌ Cart System</li>
                  <li class="list-group-item">❌ Online Payments</li>
                  <li class="list-group-item">❌ 50 Products</li>
                  <li class="list-group-item">✔ Content Display</li>
                  <li class="list-group-item">✔ Admin Panel</li>
                  <li class="list-group-item">❌ Products Filters</li>
                  <li class="list-group-item">❌ Profile Page</li>
                  <li class="list-group-item">✔ Slider Design (3 slider)</li>
                  <li class="list-group-item">❌ Post Design (3 post)</li>
                  <li class="list-group-item">✔ Social Media Link</li>
                  <li class="list-group-item">❌ Maintenance</li>
                  <li class="list-group-item">❌ APPLICATION</li>
                </ul>
                <div class="toggle_btn2">
                  <span class="toggle_text2">Show More</span> <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
                <form action="/plan2" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{stripePublishableKey}}
                    data-amount="4500"
                    data-name="Basic Website"
                    data-description="By Smart Leading"
                    data-image="assets/img/Stripe.png"
                    data-locale="auto">
                  </script>
                  <script>
                    var all_buttons = document.getElementsByClassName("stripe-button-el");
                      for (var i = 0; i < all_buttons.length; i++) {
                          all_buttons[i].style.display = "none";
                      }
                  </script>
                  <br>
                  <button type="submit" class="btn">Purchase For $45</button>
                </form>
              </div>
            </div>
          </div>

          <!-- Ecommerce Website  -->
          <div class="col-xs-12 col-lg-3 wrapper3" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>75<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Ecommerce Website
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">✔ Domain</li>
                  <li class="list-group-item">✔ Hosting</li>
                  <li class="list-group-item">✔ Framework</li>
                  <li class="list-group-item">✔ Contact Form</li>
                  <li class="list-group-item">✔ Google Maps</li>
                  <li class="list-group-item">✔ Cart System</li>
                  <li class="list-group-item">✔ Online Payments</li>
                  <li class="list-group-item">✔ Upto 50 Products</li>
                  <li class="list-group-item">✔ Content Display</li>
                  <li class="list-group-item">✔ Admin Panel</li>
                  <li class="list-group-item">✔ Products Filters</li>
                  <li class="list-group-item">✔ Profile Page</li>
                  <li class="list-group-item">✔ Slider Design (3 slider)</li>
                  <li class="list-group-item">✔ Post Design (3 post)</li>
                  <li class="list-group-item">✔ Social Media Link</li>
                  <li class="list-group-item">❌ Maintenance</li>
                  <li class="list-group-item">❌ APPLICATION</li>
                </ul>
                <div class="toggle_btn3">
                  <span class="toggle_text3">Show More</span> <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
                <form action="/plan3" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{stripePublishableKey}}
                    data-amount="7500"
                    data-name="Ecommerce Website"
                    data-description="By Smart Leading"
                    data-image="assets/img/Stripe.png"
                    data-locale="auto">
                  </script>
                  <script>
                    var all_buttons = document.getElementsByClassName("stripe-button-el");
                      for (var i = 0; i < all_buttons.length; i++) {
                          all_buttons[i].style.display = "none";
                      }
                  </script>
                  <br>
                  <button type="submit" class="btn">Purchase For $75</button>
                </form>
              </div>
            </div>
          </div>

          <!-- Website + Application  -->
          <div class="col-xs-12 col-lg-3 wrapper4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>100<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Website + Application
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">✔ Domain</li>
                  <li class="list-group-item">✔ Hosting</li>
                  <li class="list-group-item">✔ Framework</li>
                  <li class="list-group-item">✔ Contact Form</li>
                  <li class="list-group-item">✔ Google Maps</li>
                  <li class="list-group-item">✔ Cart System</li>
                  <li class="list-group-item">✔ Online Payments</li>
                  <li class="list-group-item">✔ 50 Products</li>
                  <li class="list-group-item">✔ Content Display</li>
                  <li class="list-group-item">✔ Admin Panel</li>
                  <li class="list-group-item">✔ Products Filters</li>
                  <li class="list-group-item">✔ Profile Page</li>
                  <li class="list-group-item">✔ Slider Design (3 slider)</li>
                  <li class="list-group-item">✔ Post Design (3 post)</li>
                  <li class="list-group-item">✔ Social Media Link</li>
                  <li class="list-group-item">❌ Maintenance</li>
                  <li class="list-group-item">✔ APPLICATION</li>
                </ul>
                <div class="toggle_btn4">
                  <span class="toggle_text4">Show More</span> <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
                <form action="/plan4" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{stripePublishableKey}}
                    data-amount="10000"
                    data-name="Website + Application"
                    data-description="By Smart Leading"
                    data-image="assets/img/Stripe.png"
                    data-locale="auto">
                  </script>
                  <script>
                    var all_buttons = document.getElementsByClassName("stripe-button-el");
                      for (var i = 0; i < all_buttons.length; i++) {
                          all_buttons[i].style.display = "none";
                      }
                  </script>
                  <br>
                  <button type="submit" class="btn">Purchase For $100</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6 footer-1">

            <div class="row">

                <div class="footer-info">
                  <h2>
                    <span> We'd Love to Hear
                      <br>
                          From You
                    </span>
                  </h2>
                  <p> If you have any questions, please do not hesitate to send us a message and a member of our team will contact you shortly
                  </p>

                  <div>
                    <i class="fas fa-phone-square-alt fa-2x fa-color"></i><a href="tel:00924235300058">+924235300058</a>
                  </div>
                  <br>
                  <div>
                    <i class="fas fa-envelope fa-2x fa-color"></i><a href="mailto:info@smartt.com.pk">info@smartt.com.pk</a>
                  </div>
                  <br>
                  <div>
                    <i class="fas fa-map-marker-alt fa-2x fa-color"></i><a href="https://g.page/smart-leading?share" target="_blank">58 R-1, Main Boulevard, Johar Town, Lahore, Pakistan</a>
                  </div>
              </div>

              </div>

            </div>



          {{>form}}

        </div>

      </div>
    </div>

            <div class="container">
                <div class="social-links">

                  <a href="https://www.facebook.com/Smart-Leading-Academy-PVT-LTD-637404236777613/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                  <a href="https://www.youtube.com/user/recepkirkil" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a>

                </div>
            </div>

            {{>footer}}

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/typewriter.js"></script>
  <script src="assets/js/scripts.js"></script>

</body>

</html>
