<hr>

            <div class="footer_logo">
            <a href="/" class="logo mr-auto"><img src="assets/img/Logo.png" alt="" class="img-fluid"></a>
            </div>

            <br>

            <ul>
                <li><a href="#services_1">Services</a></li>
                <li><a href="#why-us">Why Choose Us</a></li>
                <li><a href="#technologies">Technologies</a></li>
                <li><a href="#clients">Our Clients</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>

            <div class="copyright">
                <p> Copyright © 2020 Smart Leading </p>
            </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
